<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.car.permission.CAR_ENERGY" />

    <!-- Pour que l'application ne soit proposée que sur le PlayStore Automotive OS -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <!-- Constructeur qui prend en charge les templates de la Librairie -->
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />

    <!-- L'application peut ne pas s'afficher dans les voitures qui n'ont pas ces composants -->
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />

    <application>
        <!-- Déclaration de l'activité de la librairie -->
        <activity
            android:name="androidx.car.app.activity.CarAppActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Activité utilisable en conduite -->
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
        </activity>

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />

        <!-- Type d'application pour le PlayStore -->
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <!-- Service qui permet à l'OS de se connecter à l'application -->
        <service
            android:name=".car.MyCarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
            </intent-filter>
        </service>
    </application>

</manifest>
